* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #0f3739;
  font-family: "Raleway", sans-serif;
}
.header {
  position: relative;
  width: 100%;
  max-width: 1226px;
  margin: 20px auto 0;
}
.mob_ver {
  display: none;
}
.upper_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  margin: 0 0 25px;
}
.select_country a {
  margin: 0 2px 0 0;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
}
.select_country > img {
  width: 15px;
}
.line_select {
  margin: 0 35px 10px 0;
}
.line_select::before {
  position: absolute;
  content: "";
  vertical-align: middle;
  width: 30px;
  height: 2px;
  background-color: #e0e0e0;
}
.line_select::after {
  margin: 10px 0 0 0px;
  position: absolute;
  content: "";
  vertical-align: middle;
  width: 30px;
  height: 2px;
  background-color: #e0e0e0;
}
.logo {
  position: relative;
  height: 15%;
  display: flex;
}
.logo > img {
  width: 100%;
  margin: 0 14px 0 0;
}
.upper_header > img {
  width: 100%;
  display: flex;
}
.nav_block > img {
  width: 100%;
  border-radius: 12px;
}
.nav_links {
  overflow-x: auto;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 0 50px;
}
.nav_links a {
  margin: 30px auto;
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
  opacity: 50%;
}

.nav_links a:hover {
  opacity: 100%;
}
.coffe_bar > h2 {
  letter-spacing: 8%;
  font-size: 90px;
  font-weight: 800;
  margin: 3vw 0 0 0;
  color: #fff;
  text-align: center;
}
.coffe_bar > div {
  display: flex;
  font-weight: 600;
  color: #fff;
  font-size: 32px;
  justify-content: center;
  align-items: center;
}
.coffe_bar > div > h3 {
  margin-right: 10px;
  font-size: 1.5vw;
}
.coffe_bar img {
  width: 20px;
  margin: 0.5vw 0 0 0.2vw;
}
.adress_map {
  min-width: 343px;
  text-align: center;
  border: 2px #165659 solid;
  border-radius: 12px;
  width: 100%;
  max-width: 1226px;
  box-sizing: border-box;
  height: 60px;
  margin: 50px auto 43px;
}
.adress_map div {
  justify-content: space-around;
  font-weight: 500;
  display: flex;
  width: 100%;
  align-items: center;
  font-size: 18px;
}
.adress {
  margin: 0 3px 0;
  height: 90%;
}
.map {
  margin: 0 3px 0;
  height: 90%;
}
.adress_map div:hover {
  background: #165659;
  border-radius: 8px;
}
.our_adress_and_food {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  max-width: 1226px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 43px;
}
.our_adress_and_food a {
  position: relative;
  display: flex;
  align-items: flex-end;
  text-align: left;
}
.our_adress_and_food > a > img {
  border-radius: 12px;
  width: 100%;
}
.our_adress_links {
  width: 93.2%;
  position: absolute;
  border-radius: 12px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  opacity: 0.9;
  color: white;
  font-size: 22px;
  z-index: 1;
  font-weight: 600;
  padding: 70px 0 10% 7%;
}

.our_adress_links > div {
  margin: 5px 0 0 0;
  font-size: 18px;
  font-weight: 400;
}
.our_adress_arrow {
  width: 18px;
}
.paragraph_food {
  align-content: center;
}
.food_nav_bar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  max-width: 1226px;
  text-align: center;
  font-size: 26px;
  color: #fff;
  margin: 80px auto;
  white-space: nowrap;
}
.food_nav_bar > div {
  padding: 0 0 38px;
  border-bottom: 3px solid #165659;
}

.food_nav_bar div:hover {
  cursor: pointer;
  border-bottom: 3px solid #fff;
}
.button_style {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  height: 50px;
  width: 380px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #165659;
}
.button_style > a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  left: calc(50%-158 / 2);
  top: calc(50%-28px / 2);
}
.paragraph_food > .button_style {
  margin: 50px auto 0;
}
.button_style:hover {
  cursor: pointer;
  background-color: #165659;
}

.confectionery {
  margin: 0 auto;
  width: 100%;
  max-width: 1226px;
}
.confectionery > h2 {
  letter-spacing: 8%;
  font-size: 90px;
  font-weight: 800;
  margin: 104px 0 0 0;
  color: #fff;
  text-align: center;
}
.image_block {
  width: 100%;
  position: relative;
}
.image_block > img {
  width: 100%;
  margin: 64px 0 0 0;
  border-radius: 12px;
}
.image_shadow {
  width: 93.2%;
  position: absolute;
  border-radius: 12px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  opacity: 0.9;
  color: white;
  font-size: 1vw;
  z-index: 1;
  border-radius: 12px;
  font-weight: 600;
  padding: 70px 0 10% 7%;
}
.image_block {
  display: flex;
  align-items: flex-end;
}

.text_about {
  margin: 52px 0 0 0;
  font-size: 18px;
  color: #fff;
}
.our_team {
  display: none;
}
.order_link {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 62px 0 0 0;
}
.site {
  display: flex;
  padding: 3% 0 131px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}
.link {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
.order_link .button_style {
  margin: 0 0 0 351px;
}
.mobile_app {
  width: 100%;
  margin: 0 auto;
  background-color: #0e3032;
  padding: 103px 0 0 0;
}
.mobile_app > h2 {
  letter-spacing: 10px;
  font-size: 90px;
  font-weight: 800;
  color: #fff;
  letter-spacing: 10px;
  text-align: center;
  padding: 0 0 63px;
}

.about_app {
  max-width: 1226px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
  padding: 0 0 131.79px 0;
}
.about span {
  font-weight: 700;
}
.about {
  width: 411px;
  height: 257px;
  margin: 29px 71px 0 0;
  align-content: center;
}
.about > h2 {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
.about > li {
  font-size: 20px;
  color: #fff;
  margin: 20px 0;
}
.app_store_logo {
  margin: 39px 0 31px;
}
.google_app_store {
  width: 148.5px;
  height: 44px;
  margin: 0 31px 0 0;
}
.apple_app_store {
  width: 131.63px;
  height: 44px;
}
.about_app .button_style {
  width: 310px;
}
.about_app .button_style:hover {
  background-color: #118181;
}
.mobile_app_image {
  max-width: 393px;
}
.footer {
  background-color: #082627;
  padding: 50px 0;
  width: 100%;
}
.footer_block {
  display: grid;
  color: #fff;
  font-size: 18px;
  margin: 0 auto;
  max-width: 1226px;
  text-align: left;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
}
.social_media_icons img {
  margin: 0 20px;
}

.politics {
  grid-column: 2/4;
  margin: 30px 0 0;
  text-align: left;
}

.dots span {
  margin: 0 23px 0 0;
}
.politics > span {
  opacity: 60%;
  margin: 0 22px 0 0;
}
.dots > div {
  display: inline;
  margin: 0 22px 0 0;
}

.dots span::before {
  margin: 10px 0 0 -20px;
  position: absolute;
  content: "";
  vertical-align: middle;
  width: 6px;
  border-radius: 100%;
  height: 6px;
  opacity: 100%;
  background-color: #165659;
}
.politics > div {
  margin: 0 40px 0 0;
}

.controll_prog {
  padding: 30px 9% 0 0;
  opacity: 60%;
}

.controll_prog > span {
  font-weight: 600;
}

@media screen and (max-width: 1280px) {
  .header {
    width: 100%;
  }
  .upper_block {
    margin: 0 68px 21px 70px;
  }
  .nav_links a {
    justify-content: space-between;
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    color: #fff;
    margin: 30px 9px;
    white-space: nowrap;
    opacity: 50%;
  }

  .nav_links {
    justify-content: space-around;
    overflow-x: auto;
    display: flex;
    padding: 0 30px;
  }
  .our_adress_and_food {
    width: 100%;
  }

  .food_nav_bar {
    width: 100%;
  }
  .text_about {
    margin: 0 70px;
  }
  .site {
    white-space: nowrap;
    padding: 0 0 24px 0;
  }
  .order_link {
    grid-template-rows: 0.2fr 0.5fr;
    margin: 62px 70px 0;
    justify-content: space-between;
  }
  .order_link .button_style {
    margin: 0;
    grid-row: 2/2;
    margin: 0 0 70px;
  }
  .confectionery {
    width: 100%;
  }

  .politics span {
    display: flex;
    flex-direction: column-reverse;
  }
  .politics > span {
    display: flex;
    margin: 20px 0;
    flex-direction: column-reverse;
  }
  .politics span {
    padding: 0;
  }
  .politics {
    margin: 0 auto;
    width: 300px;
    white-space: nowrap;
    text-align: center;
    grid-column: 2/3;
    grid-row: 4/4;
  }
  .paragraph_food {
    width: 100%;
  }

  .footer_block {
    grid-template-columns: repeat(3, 0.4fr);
    grid-template-rows: 0.3fr 0.3fr 0.3fr 0.5fr;
  }
  .footer_block div {
    text-align: center;
  }
  .dots span::before {
    margin: 0;
    opacity: 0%;
  }
  .dots {
    align-content: center;
  }
  .dots span {
    margin: 8px 0 8px 0;
  }
  .dots > div {
    text-align: center;
    margin: 0;
  }
  .controll_prog {
    padding: 0;
    grid-column: 2/3;
    grid-row: 4/4;
  }
  .trademark {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .office_link {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .office_link {
    grid-row: 2/3;
  }
  .social_media_icons {
    grid-row: 3/4;
    grid-column: 1/4;
  }
  .trademark {
    grid-row: 1/2;
    grid-column: 2/3;
  }
}
@media screen and (max-width: 1024px) {
  .upper_block {
    margin: 0 16px 11px 20px;
  }
  .nav_links a {
    font-size: 16px;
  }
  .site {
    display: block;
    padding: 1% 0 5%;
  }
  .order > a {
    font-size: 16px;
    margin: 0px 0 0 31.5%;
  }
  .about_app > div {
    margin: 0;
  }
  .mobile_app_image {
    max-width: 287px;
  }
  .politics {
    white-space: normal;
  }
  .politics span {
    padding: 0;
  }
}
@media screen and (max-width: 912px) {
  .logo > img {
    width: 150px;
  }
  .nav_block > img {
    border-radius: 0;
  }
  .upper_block {
    margin: 14px 16px;
  }
  .header {
    padding: 0;
    width: 100%;
  }

  .select_country {
    display: flex;
  }
  .nav_links a {
    display: none;
    width: 100%;
    text-align: center;
    margin: 23px 15px 11px 0;
  }
  .nav_links {
    padding: 0;
  }
  .mob_ver {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 20px;
    margin: 22px 0;
    color: #fff;
    font-weight: 700;
  }
  .select_country > img {
    width: 10px;
  }
  .coffe_bar > div {
    width: 90%;
    margin: 0 auto 50px;
  }
  .coffe_bar > h2 {
    font-size: 34px;
    margin: 60px 0 37px 0;
  }
  .coffe_bar img {
    margin: 2% 0 0 2%;
  }
  .our_adress_and_food {
    grid-template-columns: 1fr 1fr;
    width: 90%;
    grid-gap: 20px;
  }
  .food_nav_bar {
    width: 100%;
    overflow-x: auto;
    margin: 50px 0 16px 0;
  }

  .food_nav_bar > div {
    padding: 0 25px 18px 25px;
    margin: 0 0 20px 0;
  }

  .confectionery {
    width: 99%;
  }
  .confectionery > h2 {
    font-size: 34px;
  }
  .order_link {
    display: grid;
    grid-template-columns: 1.3fr 0.2fr;
    margin: 0 20px;
  }
  .site {
    width: 90%;
    white-space: nowrap;
    grid-column: 1/4;
    margin: 20px 0 0 0;
  }

  .order_link > .button_style {
    grid-column: 1/3;
    display: flex;
    margin: 15px auto 70px 0;
    padding: 15px 5%;
    font-size: 18px;
    justify-content: center;
    grid-row: 2/2;
  }
  .text_about {
    line-height: 24.62px;
    margin: 27px 20px 0 20px;
  }
  .our_team {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 20px;
    margin: 22px 0;
    color: #fff;
    font-weight: 700;
  }

  .mobile_app > h2 {
    padding: 50px 0 0 0;
    font-size: 34px;
  }
  .mobile_app_image {
    grid-row: 1/1;
    margin: 0 0 42px 0;
    grid-column: 2/2;
  }
  .mobile_app_image {
    grid-column: 1/3;
  }
  .about_app {
    grid-template-columns: 1fr;
    margin: 70px 5% 0;
  }
  .mobile_app {
    padding: 0 0 156px 0;
  }
  .about {
    width: 320px;
    margin: 0 auto;
    grid-column: 1/3;
  }
  .about h2 {
    font-size: 20px;
  }
  .about li {
    grid-row: 2/2;
    font-size: 20px;
  }
  .about_app {
    grid-template-columns: repeat(2, 1fr);
    margin: 70px 5% 0;
  }
  .app_store_logo {
    width: 100%;
  }

  .politics span {
    display: flex;
    flex-direction: column-reverse;
  }
  .politics > span {
    display: flex;
    margin: 20px 0;
    flex-direction: column-reverse;
  }
  .politics span {
    padding: 0;
  }
  .politics {
    margin: 0 auto;
    width: 300px;
    white-space: nowrap;
    text-align: center;
    grid-column: 2/3;
    grid-row: 4/4;
  }
  .paragraph_food {
    width: 100%;
  }

  .footer_block {
    grid-template-columns: repeat(3, 0.4fr);
    grid-template-rows: 0.3fr 0.3fr 0.3fr 0.5fr;
  }
  .dots span::before {
    margin: 0;
    opacity: 0%;
  }
  .dots {
    align-content: center;
  }

  .dots > div {
    text-align: center;
    margin: 0;
  }
  .controll_prog {
    padding: 0;
    grid-column: 2/3;
    grid-row: 4/4;
  }
  .trademark {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .office_link {
    grid-row: 1/2;
    grid-column: 2/3;
  }
  .office_link {
    grid-row: 2/3;
  }
  .social_media_icons {
    grid-row: 3/4;
    grid-column: 1/4;
  }
  .trademark {
    grid-row: 1/2;
    grid-column: 2/3;
  }
}
@media screen and (max-width: 540px) {
  .coffe_bar > div {
    max-width: 343px;
  }
  .order_link {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .site {
    grid-row: 1/2;
    white-space: normal;
  }
  .order_link .button_style {
    grid-row: 3/3;
  }
  .our_adress_and_food {
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 343px;
    grid-gap: 20px;
  }
  .order_link .button_style {
    margin: 0 0 70px;
  }
  .mobile_app_image {
    grid-column: 1/3;
  }
  .about_app {
    grid-template-columns: 1fr;
    margin: 70px 5% 0;
  }
}
@media screen and (max-width: 400px) {
  .button_style {
    width: 280px;
  }
  .mobile_app > h2 {
    font-size: 24px;
  }
}
