*{
    margin: 0;
    padding: 0;
    
}
body {
    width: 95%;
    background-color: #0f3739;
  font-family: "Raleway", sans-serif;

}
.upper_header {
  position: relative;
  width: 55%;
  margin: 20px auto 0;
}
.upper_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  margin: 0 0 25px;
}
.select_country a{
    margin: 0 2px 0 0;
  color: #fff;
  font-weight: 200;
  font-size: 20px;
  text-decoration: none;
}
.select_country > img{ 
    width: 15px;
    
}
.line_select {
  margin: 0 35px 10px 0;
}
.line_select::before {
  position: absolute;
  content: "";
  vertical-align: middle;
  width: 30px;
  height: 2px;
  background-color: #e0e0e0;
}
.line_select::after {
  margin: 10px 0 0 0px;
  position: absolute;
  content: "";
  vertical-align: middle;
  width: 30px;
  height: 2px;
  background-color: #e0e0e0;
}
.logo {
  position: relative;

  height: 15%;
  display: flex;
}
.logo > img {
  margin: 0 14px 0 0;
}
.upper_header > img {
  width: 100%;
  display: flex;
}
.nav_block > img {
  width: 100%;
}
.nav_links {
  overflow-x:auto;

  display: flex;
}
.nav_links a {
  margin: 30px auto;
  justify-content: space-between;
  text-decoration: none;
  font-size: 1vw;
  text-align: center;
  font-weight: 400;
  color: #fff;
  opacity: 50%;
}
.nav_links a:hover {
  opacity: 100%;
  font-weight: 700;
}
.coffe_bar > h1 {
  letter-spacing: 8%;
  font-size: 4vw;
  font-weight: 800;
  margin: 3vw 0 0 0;
  color: #fff;
  text-align: center;
}
.coffe_bar > div {
  display: flex;
  font-weight: 600;
  color: #fff;
  font-size: 32px;
  justify-content: center;
  align-items: center;
  margin: 20px 0 55px 0;
}
.coffe_bar > div > h3{
    margin-right: 10px;
    font-size: 1.5vw;
}
.coffe_bar > div > img{
    width: 1vw;
}
.adress_map{
    text-align: center;
    border: 2px #165659 solid ;
    border-radius: 12px;
    box-sizing: border-box;
    height: 60px;

}
.adress_map h2{
    justify-content: space-around;
    font-weight: 500;
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 18px;
}
.adress{
    background: #165659;
    border-radius: 8px;
    margin: 0 3px 0;
    height: 90%;
}
.map{
    margin: 0 3px 0;
    height: 90%;
}
.our_adress{
    text-align: center;
    width: 55%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    
}
.our_adress a{
    display: flex;
    align-items: flex-end;
}
.our_adress > a > img{
    display: flex;
    position: relative;
    border-radius: 15px;
    width: 100%;
}
.try{
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  opacity: 0.9;
  color: white;
  font-size: 22px;
  z-index: 1;
  padding:  2% 0 60px 0;
}